opencti:
  url: ''http://localhost:8080'
  token: 'Change me'

connector:
  id: 'Change me'
  type: 'EXTERNAL_IMPORT'
  name: 'CVE Trends'
  scope: 'Vulnerability' # MIME type or SCO
  confidence_level: 100 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'